{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>施工参数填报</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'layuiadmin/layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'layuiadmin/style/admin.css' %}">

    {#    <style type="text/css">#}
    {#        .layui-form-label {#}
    {#            width: 130px;#}
    {#        }#}
    {#    </style>#}
    <style>.layui-table td {
        position: relative;
        min-height: 20px;
        line-height: 20px;
        font-size: 14px;
        padding: 9px 9px;
    }

    .layui-input-inline {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }

    .layui-input, .layui-textarea {
        display: block;
        width: 100%;
        padding-left: 10px;
        border: 0px;
    }

    .layui-input-block {
        width: 100%;
        min-height: 36px;
        margin-left: 9px;
        height: 100%;
    }

    .layui-form-label {
        position: relative;
        float: left;
        display: block;
        padding: 9px 9px;
        width: 150px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    .layui-table {
        width: 100%;
        margin: 10px 10px;
        background-color: #fff;
        color: #666;
    }
    </style>
</head>

<body layadmin-themealias="default">
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <blockquote class="layui-elem-quote">施工参数填报</blockquote>
            <form class="layui-form" action="">
                <div class="layui-bg-gray" style="padding: 30px;">
                    <div class="layui-row layui-col-space15">
                        <table class="layui-table">
                            <tr>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">工作面</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-block">
                                        <select name="work_face" lay-verify="required" id="work_face"
                                                lay-filter="work_face">
                                            <option value=""></option>
                                            {% for item in work_face %}
                                                <option value="{{ item.0 }}">{{ item.1 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">巷道选择</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-block">
                                        <select name="tunnel" id="tunnel" lay-verify="required" lay-filter="tunnel">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">排号选择</label>

                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-block">
                                        <select name="row" lay-verify="required" id="row" lay-filter="row">
                                            <option value=""></option>
                                            {% for item in row %}
                                                <option value="{{ item.0 }}">{{ item.0 }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">孔号</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-block">
                                        <div class="layui-inline">
                                            <input class="layui-input" name="kong_num" id="kong_num" autocomplete="off"
                                                   placeholder="系统生成" disabled>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">施工日期</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-block">
                                        <div class="layui-inline">
                                            <input class="layui-input" id="time"
                                                   placeholder="yyyy-MM-dd HH:mm:ss" placeholder="请选择时间">

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">钻孔设计偏角(°)</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-inline">
                                        <input name="design_direction" id="design_direction"
                                               lay-verify="required|number"
                                               autocomplete="off"
                                               class="layui-input"
                                               placeholder="系统生成" disabled>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">钻孔复核偏角(°)</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-inline">
                                        <input name="check_direction" id="check_direction"
                                               lay-verify="required|number|check_direction"
                                               autocomplete="off"
                                               class="layui-input"
                                               placeholder="请填钻孔复核偏角">
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">钻孔设计倾角(°)</label>

                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-inline">
                                        <input name="design_angle" id="design_angle"
                                               lay-verify="required|number"
                                               autocomplete="off"
                                               class="layui-input"
                                               placeholder="系统生成" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">钻孔复核倾角(°) </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-inline">
                                        <input name="check_angle" id="check_angle"
                                               lay-verify="required|number|check_angle"
                                               autocomplete="off"
                                               class="layui-input"
                                               placeholder="请填钻孔复核倾角">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">设计见煤位置(m)</label>

                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-inline">
                                        <input name="see_mei_location" id="see_mei_location"
                                               lay-verify="required|number"
                                               autocomplete="off"
                                               class="layui-input"
                                               placeholder="系统生成" disabled>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">实际见煤位置(m)</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-inline">
                                        <input name="actual_location" id="actual_location"
                                               lay-verify="required|number"
                                               autocomplete="off"
                                               class="layui-input"
                                               placeholder="请填实际见煤位置">
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">设计孔深(m)</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-inline">
                                        <input name="design_kong_length" id="design_kong_length"
                                               lay-verify="required|number"
                                               autocomplete="off"
                                               class="layui-input"
                                               placeholder="系统生成" disabled>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">实际孔深(m)</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-inline">
                                        <input name="actual_kong_length" id="actual_kong_length"
                                               lay-verify="required|number|actual_kong_length"
                                               autocomplete="off"
                                               class="layui-input"
                                               placeholder="请填实际孔深">
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">过煤钻岩(m)</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-inline">
                                        <input name="pass_mei" id="pass_mei"
                                               lay-verify="required|number"
                                               autocomplete="off"
                                               class="layui-input"
                                               placeholder="请填过煤钻岩">
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">当班钻进深度(m)</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-inline">
                                        <input name="pass_length" id="pass_length"
                                               lay-verify="required|number"
                                               autocomplete="off"
                                               class="layui-input"
                                               placeholder="请填当班钻进深度">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">孔内瓦斯及异常情况</label>
                                    </div>
                                </td>
                                <td colspan="5">
                                    <div class="layui-form-item layui-form-text">
                                        <div class="layui-input-block">
            <textarea placeholder="没有则填无，若有按照固定格式填写，如：16170上部底板巷8排5#孔32m处发生喷孔(压死、断杆、顶钻)"
                      lay-verify="required|kong_error_msg"
                      class="layui-textarea" style="width:99%"
                      name="kong_error_msg" id="kong_error_msg"></textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">钻孔评价</label>
                                    </div>
                                </td>
                                <td colspan="5">
                                    <div class="layui-input-block">
                                        <input placeholder="系统生成" lay-verify="required" class="layui-textarea"
                                               style="width:99%"
                                               name="assess_kong" id="assess_kong" disabled>
                                        <button class="layui-btn" id="pingjia" type="button">点击生成评价</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">施工负责人</label></div>
                                </td>
                                <td>
                                    <div class="layui-input-inline">
                                        <input name="work_person" id="work_person" lay-verify="required"
                                               autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </td>
                                <td colspan="2"></td>
                                <td>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">验收负责人</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="layui-input-inline">
                                        <input name="check_person" id="check_person" lay-verify="required"
                                               autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <br><br>

                        <div class="layui-form-item" style="text-align: center;">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>


<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'layuiadmin/layui/layui.js' %}"></script>

<script>

    layui.use(['form', 'layedit', 'laydate', 'util'], function () {
        var form = layui.form, layer = layui.layer, layedit = layui.layedit, laydate = layui.laydate, util = layui.util,
            $ = layui.$;
        //日期时间选择器
        laydate.render({
            elem: '#time'
            , type: 'datetime'
        });
        //工作面选择
        form.on('select(work_face)', function (data) {
            var work_face = $("#work_face").val();
            console.log("选择工作面" + work_face);
            $.post(
                {% url 'getTunnelByWorkface' %},
                {"work_face": work_face},
                function (data) {
                    //每次先清空下拉框
                    $("#tunnel").empty();
                    $("#row").empty();
                    //先给一个空选项
                    $("#tunnel").append($("<option />").text("").attr("value", ""));
                    console.log("data is " + data.data, JSON.stringify(data.data));
                    {#console.log(JSON.parse(data.data))#}
                    tunnelObjs = JSON.stringify(data.data) !== '{}' ? JSON.parse(data.data) : [];
                    console.log(tunnelObjs, 'tunnelObjs')
                    tunnelObjs.map((item, index) => {
                        id = item.pk;
                        name = item.fields.tunnel_name;
                        $("#tunnel").append($("<option />").text(name).attr("value", id)); //动态添加标签
                        return item;
                    });
                    form.render();
                })
        });

        //巷道选择
        form.on('select(tunnel)', function (data) {
            var tunnel = $("#tunnel").val();
            console.log("选择巷道" + tunnel);
            $.post(
                {% url 'getRowByTunnel' %},
                {"tunnel": tunnel},
                function (data) {
                    //每次先清空下拉框
                    $("#row").empty();
                    $("#row").append($("<option />").text("").attr("value", ""));
                    console.log("data is " + data.data, JSON.stringify(data.data));
                    {#console.log(JSON.parse(data.data))#}
                    rowObjs = JSON.stringify(data.data) !== '{}' ? JSON.parse(data.data) : [];
                    console.log(rowObjs, 'rowObjs')
                    rowObjs.map((item, index) => {
                        id = item.pk;
                        name = item.fields.row_id;
                        $("#row").append($("<option />").text(name).attr("value", id)); //动态添加标签
                        return item;
                    });
                    form.render();
                })
        });

        //排号选择后，刷新界面
        form.on('select(row)', function (data) {
            var row = $("#row").val();
            console.log("选择排号" + row);
            $.post(
                {% url 'getHoleConstructionData' %},
                {"row": row},
                function (data) {
                    console.log(JSON.stringify(data));
                    if (data.code === 0) {
                        $("#kong_num").val(data.hole_number);
                        $("#design_direction").val(data.deflection_angle);
                        $("#design_angle").val(data.design_elevation_angel);
                        $("#see_mei_location").val(data.rock_section);
                        $("#design_kong_length").val(data.hole_depth);
                    } else {
                        $("#kong_num").val('');
                        $("#design_direction").val('');
                        $("#design_angle").val('');
                        $("#see_mei_location").val('');
                        $("#design_kong_length").val('');
                        layer.msg('查询当前排未申请打孔的记录为空', {icon: 2});
                    }
                    form.render();
                })
        });

        //表单校验
        form.verify({
            number: function (value) {
                const patt = /^[0-9]+(\.[0-9]{1,3})?$/g;
                let isPass = patt.test(value);
                console.log("isPass", isPass)
                if (!isPass) {
                    return '该项必须为数字且最多保留三位小数';
                }
            }
            , check_direction: function (value) {
                var design_direction = $("#design_direction").val();
                diff = Math.abs(design_direction - value);
                console.log("diff", diff);
                if (diff > 1) {
                    return "钻孔复核偏角与钻孔设计偏角差值不能超过1";
                }
            }
            , check_angle: function (value) {
                var design_angle = $("#design_angle").val();
                diff = Math.abs(design_angle - value);
                console.log("diff", diff);
                if (diff > 1) {
                    return "钻孔复核倾角与钻孔设计倾角差值不能超过1";
                }
            }
            , actual_kong_length: function (value) {
                var actual_location = $("#actual_location").val();
                var pass_mei = $("#pass_mei").val();
                var pass_length = $("#pass_length").val();
                if (value - actual_location <= 0) {
                    return "实际孔深应该大于实际见煤位置";
                }
                if (value - pass_mei <= 0) {
                    return "实际孔深应该大于过煤钻岩";
                }
                if (value - pass_length <= 0) {
                    return "实际孔深应该大于当班钻进深度";
                }
                diff = value - actual_location - pass_mei;
                console.log("diff", diff)
                if (diff < 0) {
                    return "实际孔深大于等于实际见煤位置与过煤钻岩之和";
                }
            },
            kong_error_msg: function (value) {
                let pattern = /^((\d)+[\u4e00-\u9fa5]{0,}(\d)+排(\d)+#孔(\d)+m处发生(喷孔|压死|断杆|顶钻)|无{0,1})$/g
                var isPass = pattern.test(value)
                if (!isPass) {
                    return "请填无，或者按模板填写，如：16170上部底板巷8排5#孔32m处发生喷孔(压死、断杆、顶钻)"
                }
            }
        });
        //监听评价
        $('#pingjia').on('click', function (data) { //监听按钮事件
            var rowId = $("#row").val();
            var tunnelName = $("#tunnel").text();
            var kong_num = $("#kong_num").val();
            var actual_location = $("#actual_location").val();
            var actual_kong_length = $("#actual_kong_length").val();
            var pass_mei = $("#pass_mei").val();
            var check_angle = $("#check_angle").val();
            if (!check_angle) {
                layer.alert("钻孔复核倾角未填写");
            } else if (!actual_location) {
                layer.alert("实际见煤位置未填写");
            } else if (!actual_kong_length) {
                layer.alert("实际孔深未填写");
            } else if (!pass_mei) {
                layer.alert("过煤钻岩未填写");
            } else {
                datas = {
                    "row_id": rowId,
                    "tunnel_name": tunnelName,
                    "hole_number": kong_num,
                    "actual_location": actual_location,
                    "actual_kong_length": actual_kong_length,
                    "pass_mei": pass_mei,
                    "check_angle": check_angle
                }
                $.post(
                    {% url 'getZuanKongQualityData' %},
                    {"data": JSON.stringify(datas)},
                    function (res) {
                        console.log("评价结果");
                        if (res.code == 1) {
                            layer.alert(res.msg);
                        } else {
                            $("#assess_kong").val(res.msg);
                        }
                        console.log(res.code);
                    })
            }
        });
        //监听提交
        form.on('submit(demo1)', function (data) {
            //eg1
            console.log(data);
            var datas = data.field;
            console.log(datas);
            var time = $("#time").val();
            datas["time"] = time;
            layer.confirm('确定提交？', {
                btn: ['确定', '取消'] //可以无限个按钮
            }, function (data) {
                //按钮【按钮一】的回调
                $.post(
                    {% url 'submitHoleConstruction' %},
                    datas,
                    function (res) {
                        if (res.code == 1) {
                            layer.alert(res.msg);
                        } else {
                            layer.msg(res.msg);
                        }
                    }
                )
            }, function (index) {
                //按钮【按钮二】的回调
                layer.closeAll();
            });
            return false;
        });
    });
</script>
</html>
