{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>施工列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'layuiadmin/layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'layuiadmin/style/admin.css' %}">

    <style type="text/css">
        .layui-form-label {
        width: 100px;
        }
        .layui-input-block {
            margin-left: 130px;
        }
    </style>
</head>

<body layadmin-themealias="default">
<div class="layui-fluid">
    <table id="demo" lay-filter="test" lay-data="{skin:'row', even:true, size:'sm'}"></table>
</div>
</body>
</html>

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'layuiadmin/layui/layui.js' %}"></script>
<script type="text/html" id="ToolbarDemo">
    <a class="layui-btn layui-btn-xs layui-btn-radius" lay-event="detail">填报</a>
</script>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs layui-btn-radius layui-btn-normal" lay-event="input">填报</a>
</script>

<script>
    layui.use(['table', 'upload', 'layer', 'laydate'], function () {
       var table = layui.table;
       var layer = layui.layer;
       var $ = layui.$;
       var laydate = layui.laydate;
       
       table.render({
            elem: '#demo',
           toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print'],
            height: 'full-200',
            url: "{% url 'Mining:flush_drill_construct_list_data' %}",        //数据接口
            cols: [[
                {type: 'checkbox', fixed: 'left', align: "center" },
                { field: 'id', title: 'ID', width: 60, sort: true, fixed: 'left', align: "center" },
                { field: 'pai_num', title: '排号', width: 100, align: "center" },
                { field: 'kong_num', title: '孔号', width: 100, align: "center" },
                { field: 'feng_date', title: '封孔日期', width: 100, align: "center" },
                { field: 'feng_drill_length', title: '封孔深度', width: 120, align: "center" },
                { field: 'screen_length', title: '筛管长度', width: 120, align: "center" },
                { field: 'grouting_count', title: '注浆量', width: 120, align: "center" },
                { field: 'grouting_pressure', title: '注浆压力', width: 120, align: "center" },
                { field: 'feng_assess', title: '封孔评价', width: 100, align: "center" },
                { field: 'work_person', title: '施工负责人', width: 100, align: "center" },
                { field: 'check_person', title: '验收负责人', width: 100, align: "center" },
                {fixed: 'right', title:'操作', toolbar: '#barDemo', width:80, align: 'center'}
            ]],
            page: true,     //开启分页
        });

       table.on('tool(test)', function(obj){
            if(obj.event == "input"){
                layer.open(
                    {
                        type: 2,
                        title: '封孔施工填报数据',
                        shadeClose: true, //点击遮罩关闭层
                        area: ['350px', '450px'],
                        content: '{% url 'Mining:goto_feng_drill_layer_page' %}'
                    },
                );
            }
       });
    });
</script>