{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>冲孔数据填报</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'layuiadmin/layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'layuiadmin/style/admin.css' %}">

    <style>.layui-table td {
        position: relative;
        min-height: 20px;
        line-height: 20px;
        font-size: 14px;
        padding: 9px 9px;
    }

    .layui-input-inline {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }

    .layui-input, .layui-textarea {
        display: block;
        width: 100%;
        padding-left: 10px;
        border: 0px;
    }

    .layui-input-block {
        width: 100%;
        min-height: 36px;
        margin-left: 9px;
        height: 100%;
    }

    .layui-form-label {
        position: relative;
        float: left;
        display: block;
        padding: 9px 9px;
        width: 150px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }

    .layui-table {
        width: 100%;
        margin: 10px 10px;
        background-color: #fff;
        color: #666;
    }
    </style>
</head>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <blockquote class="layui-elem-quote">冲煤申请</blockquote>
            <form class="layui-form" action="">
                <table class="layui-table">
                    <tr>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">工作面</label>
                            </div>
                        </td>
                        <td>
                            <div class="layui-input-block">
                                <select name="work_face" lay-verify="required" id="work_face"
                                        lay-filter="work_face">
                                    <option value=""></option>
                                    {% for item in work_face %}
                                        <option value="{{ item.0 }}">{{ item.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">巷道选择</label>
                            </div>
                        </td>
                        <td>
                            <div class="layui-input-block">
                                <select name="tunnel" id="tunnel" lay-verify="required" lay-filter="tunnel">
                                    <option value=""></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">排号选择</label>
                            </div>
                        </td>
                        <td>
                            <div class="layui-input-block">
                                <select name="row" lay-verify="required" id="row" lay-filter="row">
                                    <option value=""></option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="layui-inline">
                                <label class="layui-form-label">孔号</label></div>
                        </td>
                        <td>
                            <div class="layui-input-block">
                                <select name="kong_num" lay-verify="required" id="kong_num" lay-filter="kong_num">
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
                <br><br>
                <div class="layui-form-item" style="text-align: center;">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 你的 HTML 代码 -->
</body>


<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'layuiadmin/layui/layui.js' %}"></script>

<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form, layer = layui.layer;
        var $ = layui.$;
        ;
        //工作面选择
        form.on('select(work_face)', function (data) {
            var work_face = $("#work_face").val();
            console.log("选择工作面" + work_face);
            $.post(
                {% url 'getTunnelByWorkface' %},
                {"work_face": work_face},
                function (data) {
                    //每次先清空下拉框
                    $("#tunnel").empty();
                    $("#row").empty();
                    //先给一个空选项
                    $("#tunnel").append($("<option />").text("").attr("value", ""));
                    console.log("data is " + data.data, JSON.stringify(data.data));
                    {#console.log(JSON.parse(data.data))#}
                    tunnelObjs = JSON.stringify(data.data) !== '{}' ? JSON.parse(data.data) : [];
                    console.log(tunnelObjs, 'tunnelObjs')
                    tunnelObjs.map((item, index) => {
                        id = item.pk;
                        name = item.fields.tunnel_name;
                        $("#tunnel").append($("<option />").text(name).attr("value", id)); //动态添加标签
                        return item;
                    });
                    form.render();
                })
        });

        //巷道选择
        form.on('select(tunnel)', function (data) {
            var tunnel = $("#tunnel").val();
            console.log("选择巷道" + tunnel);
            $.post(
                {% url 'getRowByTunnel' %},
                {"tunnel": tunnel},
                function (data) {
                    //每次先清空下拉框
                    $("#row").empty();
                    $("#row").append($("<option />").text("").attr("value", ""));
                    console.log("data is " + data.data, JSON.stringify(data.data));
                    {#console.log(JSON.parse(data.data))#}
                    rowObjs = JSON.stringify(data.data) !== '{}' ? JSON.parse(data.data) : [];
                    console.log(rowObjs, 'rowObjs')
                    rowObjs.map((item, index) => {
                        id = item.pk;
                        name = item.fields.row_id;
                        $("#row").append($("<option />").text(name).attr("value", id)); //动态添加标签
                        return item;
                    });
                    form.render();
                })
        });
        //孔号选择
        form.on('select(row)', function (data) {
            var row = $("#row").val();
            console.log("选择排" + row);
            $.post(
                {% url 'getFengHoleByRow' %},
                {"row": row},
                function (data) {
                    //每次先清空下拉框
                    $("#kong_num").empty();
                    $("#kong_num").append($("<option />").text("").attr("value", ""));
                    console.log("data is " + data.data, JSON.stringify(data.data));
                    console.log(JSON.parse(data.data))
                    holeObjs = JSON.stringify(data.data) !== '{}' ? JSON.parse(data.data) : [];
                    console.log(holeObjs, 'holeObjs')
                    holeObjs.map((item, index) => {
                        id = item.fields.h_c_number;
                        name = item.fields.h_c_number;
                        $("#kong_num").append($("<option />").text(name).attr("value", id)); //动态添加标签
                        return item;
                    });
                    form.render();
                })
        });
        //监听提交
        form.on('submit(demo1)', function (data) {
            //layer.msg(JSON.stringify(data.field));
            var datas = data.field;
            layer.confirm('确定提交？', {
                btn: ['确定', '取消'] //可以无限个按钮
            }, function () {
                //按钮【按钮一】的回调
                $.post(
                    {% url 'submitFlushData' %},
                    datas,
                    function (res) {
                        if (res.code == 1) {
                            layer.msg(res.msg, {"icon": 2});
                        } else {
                            layer.msg(res.msg, {"icon": 1});
                        }
                    }
                )
            }, function (index) {
                //按钮【按钮二】的回调
                layer.closeAll();
            });
            return false;
        });
    });
</script>
</html>

