{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>打孔申请审批</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'layuiadmin/layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'layuiadmin/style/admin.css' %}">
</head>

<body layadmin-themealias="default">
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <blockquote class="layui-elem-quote">钻孔设计参数查询</blockquote>
            <form class="layui-form" action="">
                <div class="layui-inline">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color:red">*</span>工作面选择</label>
                        <div class="layui-input-block">
                            <select name="work_face" lay-verify="required" id="work_face"
                                    lay-filter="work_face">
                                <option value=""></option>
                                {% for item in work_face %}
                                    <option value="{{ item.0 }}">{{ item.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color:red">*</span>巷道选择</label>
                        <div class="layui-input-block">
                            <select name="tunnel" id="tunnel" lay-verify="required" lay-filter="tunnel">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color:red">*</span>排号选择</label>
                        <div class="layui-input-block">
                            <select name="row" lay-verify="required" id="row" lay-filter="row">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-form-item">
                        <label class="layui-form-label">孔号</label>
                        <div class="layui-input-block">
                            <div class="layui-inline">
                                <input class="layui-input" name="id" id="kong_num" autocomplete="off"
                                       placeholder="请填写孔号">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" data-type="reload">搜索</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="layui-field-box">
                <table class="layui-hide" id="table" lay-filter="test"></table>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'layuiadmin/layui/layui.js' %}"></script>
<script>
    layui.use(['table', 'upload', 'layer'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.$;
        var form = layui.form;

        //工作面选择
        form.on('select(work_face)', function (data) {
            var work_face = $("#work_face").val();
            console.log("选择工作面" + work_face);
            $.post(
                {% url 'getTunnelByWorkface' %},
                {"work_face": work_face},
                function (data) {
                    //每次先清空下拉框
                    $("#tunnel").empty();
                    $("#row").empty();
                    //先给一个空选项
                    $("#tunnel").append($("<option />").text("").attr("value", ""));
                    console.log("data is " + data.data, JSON.stringify(data.data));
                    tunnelObjs = JSON.stringify(data.data) !== '{}' ? JSON.parse(data.data) : [];
                    console.log(tunnelObjs, 'tunnelObjs')
                    tunnelObjs.map((item, index) => {
                        id = item.pk;
                        name = item.fields.tunnel_name;
                        $("#tunnel").append($("<option />").text(name).attr("value", id)); //动态添加标签
                        return item;
                    });
                    form.render();
                })
        });

        //巷道选择
        form.on('select(tunnel)', function (data) {
            var tunnel = $("#tunnel").val();
            console.log("选择巷道" + tunnel);
            $.post(
                {% url 'getRowByTunnel' %},
                {"tunnel": tunnel},
                function (data) {
                    //每次先清空下拉框
                    $("#row").empty();
                    $("#row").append($("<option />").text("").attr("value", ""));
                    console.log("data is " + data.data, JSON.stringify(data.data));
                    {#console.log(JSON.parse(data.data))#}
                    rowObjs = JSON.stringify(data.data) !== '{}' ? JSON.parse(data.data) : [];
                    console.log(rowObjs, 'rowObjs')
                    rowObjs.map((item, index) => {
                        id = item.pk;
                        name = item.fields.row_id;
                        $("#row").append($("<option />").text(name).attr("value", id)); //动态添加标签
                        return item;
                    });
                    form.render();
                })
        });
        var tb = table.render({
            elem: "#table",
            id: "tableReload",
            url: '{% url 'operator_reload_DrillingDesignParamsHis' %}',
            method: 'get',
            height: 'full-30',
            page: true,
            defaultToolbar: ['filter', 'exports', 'print'],
            cols: [[
                {field: 'id', width: '7%', title: 'ID', sort: true, align: 'center', hide: true,},
                {field: 'pai_num', width: '7%', title: '排号', sort: true, align: 'center',},
                {field: 'kong_num', width: '7%', title: '孔号', sort: true, align: 'center',},
                {field: 'pian_angle', width: '7%', title: '偏角', sort: true, align: 'center',},
                {field: 'yang_angle', width: '7%', title: '仰角', sort: true, align: 'center',},
                {field: 'kong_length', width: '7%', title: '孔深', sort: true, align: 'center',},
                {field: 'yan_kong_length', width: '9%', title: '岩孔长度', sort: true, align: 'center',},
                {field: 'mei_duan_length', width: '9%', title: '煤段长度', sort: true, align: 'center',},
                {field: 'wash_coal', width: '9%', title: '冲煤量', sort: true, align: 'center',},
                {field: 'see_ding_tip', width: '20%', title: '见顶提醒', sort: true, align: 'center',},
                {field: 'see_mei_tip', width: '20%', title: '见煤提醒', sort: true, align: 'center',},
                {field: 'desc', width: '10%', title: '状态', sort: true, align: 'center'},
                {field: 'status', width: '5%', title: '状态码', sort: true, align: 'center', hide: true},
            ]]
        });
        var $ = layui.$, active = {
            reload: function () {
                var kong_num = $('#kong_num').val();
                var rowId = $("#row").val();
                console.log("kong_num is", kong_num);
                console.log("rowId is", rowId);
                //执行重载
                table.reload('tableReload', {
                    method: 'get',
                    url: '{% url 'operator_reload_DrillingDesignParamsHis' %}',
                    where: {
                        kong_num: kong_num,
                        rowId: rowId
                    },
                    page: {
                        curr: 1
                    },
                    done: function (res, curr, count) {
                        //res为接口返回的信息
                        console.log(res);
                    }

                }, 8000);
            }
        };
        $('.layui-btn').on('click', function () {
            var workface = $("#work_face").val();
            var tunnel = $("#tunnel").val();
            var row = $("#row").val();
            if (workface === "") {
                layer.msg('请进行工作面选择', {icon: 5});
            } else if (tunnel === "") {
                layer.msg('请进行巷道选择', {icon: 5});
            } else if (row === "") {
                layer.msg('请进行排号选择', {icon: 5});
            } else {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            }
            return false;
        });
    });
</script>
