{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>冲孔申请审批</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'layuiadmin/layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'layuiadmin/style/admin.css' %}">

    <style type="text/css">
        .layui-form-label {
            width: 100px;
        }

        .layui-input-block {
            margin-left: 130px;
        }
    </style>
</head>

<body layadmin-themealias="default">
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">、
            <blockquote class="layui-elem-quote">冲孔申请审批</blockquote>
            <form class="layui-form" action="">
                <div class="layui-inline">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color:red">*</span>工作面选择</label>
                        <div class="layui-input-block">
                            <select name="work_face" lay-verify="required" id="work_face"
                                    lay-filter="work_face">
                                <option value=""></option>
                                {% for item in work_face %}
                                    <option value="{{ item.0 }}">{{ item.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color:red">*</span>巷道选择</label>
                        <div class="layui-input-block">
                            <select name="tunnel" id="tunnel" lay-verify="required" lay-filter="tunnel">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><span style="color:red">*</span>排号选择</label>
                        <div class="layui-input-block">
                            <select name="row" lay-verify="required" id="row" lay-filter="row">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-form-item">
                        <label class="layui-form-label">孔号</label>
                        <div class="layui-input-block">
                            <div class="layui-inline">
                                <input class="layui-input" name="id" id="kong_num" autocomplete="off"
                                       placeholder="请填写孔号">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" data-type="reload">搜索</button>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" id="hide" style="display:none; margin-top:20px">
                    <label class="layui-form-label">驳回原因</label>
                    <div class="layui-input-inline">
                        <input type="text" name="reason" id="reason" required lay-verify="required"
                               placeholder="请输入驳回原因"
                               autocomplete="off" class="layui-input">
                    </div>
                    <br>
                    <br>
                    <p style="font-size: smaller; color: red">*注意：若“跳过”冲孔步骤，请填写“跳过”，否则，按照实际情况填写具体原因</p>
                </div>
            </form>
            <div class="layui-field-box">
                <table id="demo" lay-filter="test" class="layui-hide"></table>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'layuiadmin/layui/layui.js' %}"></script>
{#<script type="text/html" id="ToolbarDemo">#}
{#    <a class="layui-btn layui-btn-xs layui-btn-radius" lay-event="detail">填报</a>#}
{#</script>#}

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-radius layui-btn-normal" lay-event="pass">同意</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reject">驳回</a>
</script>

<script>
    layui.use(['table', 'upload', 'layer', 'laydate', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.$;
        var laydate = layui.laydate;
        var form = layui.form;
        //工作面选择
        form.on('select(work_face)', function (data) {
            var work_face = $("#work_face").val();
            console.log("选择工作面" + work_face);
            $.post(
                {% url 'getTunnelByWorkface' %},
                {"work_face": work_face},
                function (data) {
                    //每次先清空下拉框
                    $("#tunnel").empty();
                    $("#row").empty();
                    //先给一个空选项
                    $("#tunnel").append($("<option />").text("").attr("value", ""));
                    console.log("data is " + data.data, JSON.stringify(data.data));
                    {#console.log(JSON.parse(data.data))#}
                    tunnelObjs = JSON.stringify(data.data) !== '{}' ? JSON.parse(data.data) : [];
                    console.log(tunnelObjs, 'tunnelObjs')
                    tunnelObjs.map((item, index) => {
                        id = item.pk;
                        name = item.fields.tunnel_name;
                        $("#tunnel").append($("<option />").text(name).attr("value", id)); //动态添加标签
                        return item;
                    });
                    form.render();
                })
        });

        //巷道选择
        form.on('select(tunnel)', function (data) {
            var tunnel = $("#tunnel").val();
            console.log("选择巷道" + tunnel);
            $.post(
                {% url 'getRowByTunnel' %},
                {"tunnel": tunnel},
                function (data) {
                    //每次先清空下拉框
                    $("#row").empty();
                    $("#row").append($("<option />").text("").attr("value", ""));
                    console.log("data is " + data.data, JSON.stringify(data.data));
                    {#console.log(JSON.parse(data.data))#}
                    rowObjs = JSON.stringify(data.data) !== '{}' ? JSON.parse(data.data) : [];
                    console.log(rowObjs, 'rowObjs')
                    rowObjs.map((item, index) => {
                        id = item.pk;
                        name = item.fields.row_id;
                        $("#row").append($("<option />").text(name).attr("value", id)); //动态添加标签
                        return item;
                    });
                    form.render();
                })
            $
        });
        tb = table.render({
            elem: '#demo',
            toolbar: '#toolbarDemo',
            id: "tableReload",
            defaultToolbar: ['filter', 'exports', 'print'],
            height: 'full-200',
            url: "{% url 'flush_apply_data' %}",        //数据接口
            cols: [[
                {type: 'checkbox', fixed: 'left', align: "center"},
                {field: 'id', title: 'ID', width: 150, sort: true, fixed: 'left', align: "center"},
                {field: 'row', title: '排号', width: 300, align: "center"},
                {field: 'h_c_number', title: '孔号', width: 300, align: "center"},
                {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 300, align: 'center'}
            ]],
            page: true,     //开启分页
        });

        var $ = layui.$, active = {
            reload: function () {
                var kong_num = $('#kong_num').val();
                var rowId = $("#row").val();
                console.log("kong_num is", kong_num);
                console.log("rowId is", rowId);
                //执行重载
                table.reload('tableReload', {
                    method: 'get',
                    url: "{% url 'flush_apply_data' %}",
                    where: {
                        kong_num: kong_num,
                        rowId: rowId
                    },
                    page: {
                        curr: 1
                    },
                    done: function (res, curr, count) {
                        //res为接口返回的信息
                        console.log(res);
                    }

                }, 8000);
            }
        };
        $('.layui-btn').on('click', function () {
            var workface = $("#work_face").val();
            var tunnel = $("#tunnel").val();
            var row = $("#row").val();
            if (workface === "") {
                layer.msg('请进行工作面选择', {icon: 5});
            } else if (tunnel === "") {
                layer.msg('请进行巷道选择', {icon: 5});
            } else if (row === "") {
                layer.msg('请进行排号选择', {icon: 5});
            } else {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            }
            return false;
        });
        $('.layui-btn').on('click', function () {
            var workface = $("#work_face").val();
            var tunnel = $("#tunnel").val();
            var row = $("#row").val();
            if (workface === "") {
                layer.msg('请进行工作面选择', {icon: 5});
            } else if (tunnel === "") {
                layer.msg('请进行巷道选择', {icon: 5});
            } else if (row === "") {
                layer.msg('请进行排号选择', {icon: 5});
            } else {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            }
            return false;
        });
        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            id = data.id
            hole_number = data.h_c_number
            if (obj.event === 'pass') {
                layer.confirm('确定通过申请吗？', function (index) {
                    $.post(
                        {% url 'passOrrejectFlushHole' %},
                        {
                            "id": id,
                            "hole_number": hole_number,
                            "beforeStatus": 3,
                            "status": 4,
                            "reason": ""
                        },
                        function (res) {
                            if (res.code === "0") {
                                tb.reload();
                                layer.msg("申请通过成功", {icon: 1});
                            } else {
                                layer.msg("申请通过失败," + res.msg, {icon: 5});
                            }
                        })
                    return false;
                });
            }
            if (obj.event === 'reject') {
                layer.open({
                    type: 1,
                    content: $('#hide'),
                    title: '冲孔申请驳回',
                    area: ['390px', '260px'],
                    shade: 0.3,
                    maxmin: true,
                    btnAlign: 'c',
                    content: $("#hide"),
                    btn: ['提交', '全部关闭'], //只是为了演示
                    yes: function () {
                        var reason = $("#reason").val();
                        if (reason === "") {
                            layer.msg('请输入驳回原因', {icon: 5});
                        } else {
                            layer.confirm('确定驳回吗？', function (index) {
                                $.post(
                                    {% url 'passOrrejectFlushHole' %},
                                    {
                                        "id": id,
                                        "hole_number": hole_number,
                                        "beforeStatus": 3,
                                        "status": 5,
                                        "reason": reason
                                    },
                                    function (res) {
                                        if (res.code === "0") {
                                            tb.reload();
                                            layer.closeAll();
                                            layer.msg("申请驳回成功", {icon: 1});
                                        } else {
                                            layer.closeAll();
                                            layer.msg("申请驳回失败," + res.msg, {icon: 5});
                                        }
                                    })
                                return false;
                            });
                        }
                    }
                    ,
                    btn2: function () {
                        layer.closeAll();
                    }
                })
            }
        });
    });
</script>
