{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>工程管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'layuiadmin/layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'layuiadmin/style/admin.css' %}">
    <style type="text/css">
        .layui-form-label {
            width: 100px;
        }

        .layui-input-block {
            margin-left: 130px;
        }
    </style>

</head>
<body layadmin-themealias="default">
<div class="layui-fluid">
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">冲孔填报数据</blockquote>
        <form class="layui-form" action="">
            <div class="layui-inline">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span>工作面选择</label>
                    <div class="layui-input-block">
                        <select name="work_face" lay-verify=required" id="work_face"
                                lay-filter="work_face">
                            <option value=""></option>
                            {% for item in work_face %}
                                <option value="{{ item.0 }}">{{ item.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span>巷道选择</label>
                    <div class="layui-input-block">
                        <select name="tunnel" id="tunnel" lay-verify="required" lay-filter="tunnel">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red">*</span>排号选择</label>
                    <div class="layui-input-block">
                        <select name="row" lay-verify="required" id="row" lay-filter="row">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-form-item">
                    <label class="layui-form-label">孔号</label>
                    <div class="layui-input-block">
                        <div class="layui-inline">
                            <select name="kong_num" lay-verify="required" id="kong_num" lay-filter="kong_num">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:center">
                <table class="layui-table">
                    <tbody>
                    <tr>
                        <td rowspan="3">工作面</td>
                        <td rowspan="3" style="text-align: center;">
                            <input class="layui-input" id="tb_work_face">
                        </td>

                        <td rowspan="3">孔号</td>
                        <td rowspan="3">
                            <input class="layui-input" id="tb_kong_num">
                        </td>

                        <td rowspan="3">钻孔定位</td>
                        <td colspan="2">偏角</td>
                        <div class="layui-form-item">
                            <td><input class="layui-input" id="pian_angle" disabled></td>
                        </div>
                    </tr>
                    <tr>
                        <td colspan="2">开孔高度</td>
                        <div class="layui-form-item">
                            <td><input class="layui-input" id="direction" name = "direction" disabled></td>
                        </div>
                    </tr>
                    <tr>
                        <td colspan="2">倾角</td>
                        <div class="layui-form-item">
                            <td><input class="layui-input" id="qing_angle" name="qing_angle" disabled></td>
                        </div>
                    </tr>
                    <tr>
                        <td rowspan="3">开钻时间</td>
                        <div class="layui-form-item">
                            <td rowspan="3">
                                <input type="date" class="layui-input" id="drill_start_time" name = "drill_start_time" lay-verify= "required">
                            </td>
                        </div>
                        <td rowspan="3">冲孔</td>
                        <td>开始时间</td>

                        <div class="layui-form-item">
                            <td>
                                <input type="date" class="layui-input" id="flush_start_time" name = "flush_start_time" lay-verify= "required">
                            </td>
                        </div>
                        <td rowspan="3">退钻</td>
                        <td>开始时间</td>
                        <div class="layui-form-item">
                            <td>
                                <input type="date" class="layui-input" id="reback_start_time" name = "reback_start_time" lay-verify= "required">
                            </td>
                        </div>

                    </tr>
                    <tr>
                        <td>结束时间</td>
                        <div class="layui-form-item">
                            <td>
                                <input type="date" class="layui-input" id="flush_end_time" name = "flush_end_time" lay-verify= "required">
                            </td>
                        </div>
                        <td>结束时间</td>
                        <div class="layui-form-item">
                            <td>
                                <input type="date" class="layui-input" id="reback_end_time" name = "reback_end_time" lay-verify= "required">
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <td>煤量(长*宽*高)</td>
                        <div class="layui-form-item">
                            <td>
                                <input class="layui-input" id="mei_count" name="mei_count" disabled>
                            </td>
                        </div>
                        <td>钻孔深度</td>
                        <div class="layui-form-item">

                            <td>
                                <input class="layui-input" id="drill_length" name = "drill_length" disabled>
                            </td>
                        </div>
                    </tr>

                    <tr>
                        <td rowspan="4">封孔</td>
                        <td>开始时间</td>
                        <div class="layui-form-item">
                            <td>
                                <input type="date" class="layui-input" id="feng_start_time" name = "feng_start_time" lay-verify= "required">
                            </td>
                        </div>
                        <td rowspan="2">视频编号</td>
                        <div class="layui-form-item">
                            <td rowspan="2">
                                <input class="layui-input" id="video_num" name = "video_num" disabled>
                            </td>
                        </div>
                        <td rowspan="2">异常情况处置</td>
                        <div class="layui-form-item">
                            <td rowspan="2" colspan="2">
                                <input class="layui-input" id="error_msg" disabled>
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <td>结束时间</td>
                        <div class="layui-form-item">
                            <td>
                                <input type="date" class="layui-input" id="feng_end_time" lay-verify = "required">
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <td>封孔长度</td>
                        <div class="layui-form-item">

                            <td>
                                <input class="layui-input" id="feng_kong_length" disabled>
                            </td>
                        </div>
                        <td>视频监控记录人</td>
                        <div class="layui-form-item">
                            <td>
                                <input class="layui-input" id="video_check_person" lay-verify = "required">
                            </td>
                        </div>
                        <td>当天班次</td>
                        <div class="layui-form-item">
                            <td colspan="2">
                                <input class="layui-input" id="now_class" lay-verify = "required">
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <td>筛管长度</td>
                        <div class="layui-form-item">
                            <td>
                                <input class="layui-input" id="screen_length" disabled>
                            </td>
                        </div>
                        <td>钻孔施工负责人</td>
                        <div class="layui-form-item">
                            <td>
                                <input class="layui-input" id="work_person"disabled>
                            </td>
                        </div>
                        <td>填报时间</td>
                        <div class="layui-form-item">
                            <td colspan="2">
                                <input type="date" lay-verify="date" class="layui-input" id="submit_time" lay-verify = "required">
                            </td>
                        </div>
                    </tr>

                    </tbody>
                </table>
            </div>
            <br><br>
            <div style="text-align:center">
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1"
                                style="float:right;margin-right:50%">提交
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
</body>
</html>

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'layuiadmin/layui/layui.js' %}"></script>

<script>
    layui.use(['table', 'upload', 'layer', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        var $ = layui.$;
        //工作面选择
        form.on('select(work_face)', function (data) {
            var work_face = $("#work_face").val();
            console.log("选择工作面" + work_face);
            $.post(
                {% url 'getTunnelByWorkface' %},
                {"work_face": work_face},
                function (data) {
                    //每次先清空下拉框
                    $("#tunnel").empty();
                    $("#row").empty();
                    //先给一个空选项
                    $("#tunnel").append($("<option />").text("").attr("value", ""));
                    console.log("data is " + data.data, JSON.stringify(data.data));
                    {#console.log(JSON.parse(data.data))#}
                    tunnelObjs = JSON.stringify(data.data) !== '{}' ? JSON.parse(data.data) : [];
                    console.log(tunnelObjs, 'tunnelObjs')
                    tunnelObjs.map((item, index) => {
                        id = item.pk;
                        name = item.fields.tunnel_name;
                        $("#tunnel").append($("<option />").text(name).attr("value", id)); //动态添加标签
                        return item;
                    });
                    $("#tb_work_face").val(work_face)
                    form.render();
                })
        });
        //巷道选择
        form.on('select(tunnel)', function (data) {
            var tunnel = $("#tunnel").val();
            console.log("选择巷道" + tunnel);
            $.post(
                {% url 'getRowByTunnel' %},
                {"tunnel": tunnel},
                function (data) {
                    //每次先清空下拉框
                    $("#row").empty();
                    $("#row").append($("<option />").text("").attr("value", ""));
                    console.log("data is " + data.data, JSON.stringify(data.data));
                    {#console.log(JSON.parse(data.data))#}
                    rowObjs = JSON.stringify(data.data) !== '{}' ? JSON.parse(data.data) : [];
                    console.log(rowObjs, 'rowObjs')
                    rowObjs.map((item, index) => {
                        id = item.pk;
                        name = item.fields.row_id;
                        $("#row").append($("<option />").text(name).attr("value", id)); //动态添加标签
                        return item;
                    });
                    form.render();
                })
        });
        //排号选择
        form.on('select(row)', function (data) {
            var row = $("#row").val();
            console.log("选择巷道" + tunnel);
            $.post(
                {% url 'getHoleFengData' %},
                {"row": row},
                function (data) {
                    //每次先清空下拉框
                    $("#kong_num").empty();
                    $("#kong_num").append($("<option />").text("").attr("value", ""));
                    console.log("data is " + data.data, JSON.stringify(data.data));
                    kongObjs = JSON.stringify(data.data) !== '{}' ? JSON.parse(data.data) : [];
                    console.log(kongObjs, 'kongObjs')
                    kongObjs.map((item, index) => {
                        h_c_number = item.fields.h_c_number;
                        $("#kong_num").append($("<option />").text(h_c_number).attr("value", h_c_number)); //动态添加标签
                        return item;
                    });
                    form.render();
                })
            $
        });

        //孔号选择后渲染界面
        form.on('select(kong_num)', function (data) {
            var rowId = $("#row").val();
            var kong_num = $("#kong_num").val();
            console.log("选择巷道" + tunnel);
            $.post(
                {% url 'getVidioCheckDataByHoleNum' %},
                {
                    "rowId": rowId,
                    "kong_num": kong_num
                },
                function (data) {
                    //每次先清空下拉框
                    console.log(data)
                    if (data != null) {
                        $("#tb_kong_num").val(kong_num);
                        $("#pian_angle").val(data.pian_angle);
                        $("#direction").val(data.hole_height);
                        $("#qing_angle").val(data.qing_angle);
                        $("#drill_start_time").val(data.start_zuan_time);
                        $("#flush_start_time").val(data.water_start_time);
                        $("#reback_start_time").val(data.remove_drill_start);
                        $("#flush_end_time").val(data.water_end_time);
                        $("#reback_end_time").val(data.remove_drill_end);
                        $("#mei_count").val(data.mei_count);
                        $("#drill_length").val(data.drill_length);
                        $("#feng_start_time").val(data.feng_start_time);
                        $("#video_num").val(data.video_num);
                        $("#error_msg").val(data.error_msg);
                        $("#feng_end_time").val(data.feng_end_time);
                        $("#feng_kong_length").val(data.feng_kong_len);
                        $("#video_check_person").val(data.video_check_person);
                        $("#now_class").val(data.now_class);
                        $("#screen_length").val(data.shai_guan_len);
                        $("#work_person").val(data.worker_name);
                        $("#submit_time").val(data.submit_time);
                    }
                    form.render();
                })
        });
        form.on('submit(demo1)', function (data) {
            console.log(JSON.stringify(data.field));
            $.post(
                {% url 'videos_check_submit_process' %},
                {"data": JSON.stringify(data.field)},
                function (res) {
                    if (res.code == 0) {      //提交成功
                        layer.alert(res.msg, {icon: 1, skin: 'layer-ext-demo'})
                    } else if (res.code == 1) { //提交失败
                        layer.alert(res.msg, {icon: 2, skin: 'layer-ext-demo'});
                    }
                })
            return false;
        });
    });
</script>

<script>
    function get_input_data() {
        var data_json = {
            work_place: document.getElementById('work_place').value,     //施工地点
            kong_num: document.getElementById('kong_num').value,         //孔号
            pian_angle: document.getElementById('pian_angle').value,     //偏角
            direction: document.getElementById('direction').value,       //方向
            qing_jiao: document.getElementById('qing_angle').value,      //倾角
            drill_start_time: document.getElementById('drill_start_time').value,        //开钻时间
            flush_start_time: document.getElementById('flush_start_time').value,       //冲孔开始时间
            reback_start_time: document.getElementById('reback_start_time').value,     //退钻开始时间
            flush_end_time: document.getElementById('flush_end_time').value,           //冲孔结束时间
            reback_end_time: document.getElementById('reback_end_time').value,         //退钻结束时间
            mei_count: document.getElementById('mei_count').value,       //煤量
            drill_length: document.getElementById('drill_length').value,    //钻孔深度
            feng_start_time: document.getElementById('feng_start_time').value, //封孔开始时间
            video_num: document.getElementById('video_num').value, //视屏编号
            error_msg: document.getElementById('error_msg').value, //异常情况处置
            feng_end_time: document.getElementById('feng_end_time').value, //封孔结束时间
            feng_kong_length: document.getElementById('feng_kong_length').value, //封孔长度
            video_check_person: document.getElementById('video_check_person').value, //视频监控记录人
            now_class: document.getElementById('now_class').value,  //当天班次
            screen_length: document.getElementById('screen_length').value, //筛管长度
            work_person: document.getElementById('work_person').value,   //钻孔施工负责人
            submit_time: document.getElementById('submit_time').value,    //填报时间
        };
        return data_json;
    }
</script>

